
element.style {
}
.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: rgb(234, 236, 240);
    text-align: center;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid rgb(162, 169, 177);
    padding: 0.2em 0.4em;
}
user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
.wikitable {
    background-color: rgb(248, 249, 250);
    color: rgb(34, 34, 34);
    margin: 1em 0px;
    border: 1px solid rgb(162, 169, 177);
    border-collapse: collapse;
}
table {
    font-size: 100%;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.mw-content-ltr {
    direction: ltr;
}
.mw-body-content {
    position: relative;
    font-size: 0.875em;
    line-height: 1.6;
    z-index: 0;
}
.mw-body, .parsoid-body {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    padding: 1em;
    direction: ltr;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #444;
}
html {
    font-size: 100%;
}

.content {
    margin: 50px 50px 0 350px;
    padding-bottom: 50px;
}
h1, h2, h3, h4, h5, h6, p, span, pre, li {
    color: #ddd;
}
[style="background:#FFF3BD; padding: 0px 5px 0px 5px; border: 1px solid #C4B674;"] * {
    color: #333;
}
[style="background:#FFF3BD; padding: 0px 5px 0px 5px; border: 1px solid #C4B674;"] a {
    color: #667;
}
a, i {
    color: #ddf;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.toc {
    position: fixed;
    width: 320px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    background: #5d5d5d;
    margin-left: -30px;
    box-shadow: 15px 5px 15px #3335;
}

table, tbody, tr, td, th {
    background: #333 !important;
    color: #ddd;
}

.title {
    margin-left: 40px;
}

::-webkit-scrollbar {
    background: #333;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #222;
}